.admin-page
	h1 Admin Screen
		form.form-inline(role="form")
			.form-group.inset-form
				label.sr-only(for="product_name") Product Name
				input#product_name.form-control(placeholder="Product Name") 
			.form-group.inset-form
				label.sr-only(for="product_quantity") Product Quantity
				input#product_quantity.form-control(placeholder="Product Quantity") 
			.form-group.inset-form
				label.sr-only(for="product_price") Product Price
				input#product_price.form-control(placeholder="Product Price") 
			button.btn.btn-default.insert-product(type="submit") Insert Product
	table.table.table-hover.products-table
		tr
			th Product
			th Quantity
			th Price
		if products !== undefined && products.length > 0 
			each product in products
				tr(id=product._id.toString())
					td=product.name
					td=product.quantity
					td='$' + product.price

