extends layout

block content
	.container
		.login-form
			form.form-signin(role="form")
				h2.form-signin-heading Please sign in
				input#username.form-control(type="text",name="username",placeholder="Username",required,autofocus)
				button.btn.btn-lg.btn-primary.btn-block.sign-in(type="submit") Sign in
