doctype html
html(lang="en")
	head
		title= title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/css/style.css')
		script(src='/js/jQuery.js')
		script(src='/js/bootstrap.min.js')
		script(src='/socket.io/socket.io.js')
		script(src='https://www.google.com/jsapi')
		script.
			google.load("visualization", "1", {packages:["corechart"]});
		script(src='/js/primary.js')
		meta(name="viewport",content="width=device-width, initial-scale=1")
	body
		block content