extends layout

block content
	.login-form
		.container
			form.form-signin(role="form",method="post")
				h2.form-signin-heading Please sign in
				input.form-control(type="text", name="username",placeholder="Username",required=true,autofocus=true)
				input(name='password', class='form-control', type='password', placeholder='password',required)
				button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in
