.user-page
	h1 Market Screen
	.row
		.col-md-4
			h3#username(data-user_id=user._id.toString())=user.username
			p $
				span#cash=user.cash
			p
				ul.user-products
					if userProducts !== undefined && userProducts.length > 0 
						each value in userProducts
							li(id=value.product_id)=productsNames[value.product_id]+ ' (' +value.quantity+')'
		.col-md-8
			table.table.table-hover.products-table
				tr
					th Product
					th Quantity
					th Price
					th Purchase
				if products !== undefined && products.length > 0 
					each product in products
						tr(class=product._id.toString())
							td(id=product._id.toString()+'-name')=product.name
							td(id=product._id.toString()+'-quantity')=product.quantity
							td(id=product._id.toString()+'-price')='$' + product.price
							td
								a.buy-product.btn.btn-sm.btn-primary(href='#',data-price=product.price,data-quantity=product.quantity,data-name=product.name,data-product_id=product._id.toString()) Buy
		input#chart_values(type='hidden',value=JSON.stringify(stats))
	hr.clear-fix
	.products-chart
		#chart_div(style='width:800px;height:400px;')